<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>List Users</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}" />-->
    <!--<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>-->
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.6.3/css/all.css}" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

    <link rel="stylesheet" th:href="@{/css/bootstrap4-pleasant.min.css}" />


    <link  th:href="@{/css/main.css}" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">

</head>
<body>


<div th:fragment="admin_tables_sidebar" >

    <div class="list-group" id="admin_tables_sidebar_div">
        <a th:href="@{/admin/users}" class="list-group-item list-group-item-action">Users</a>
        <a th:href="@{/admin/students}" class="list-group-item list-group-item-action">Students</a>
        <a th:href="@{/admin/instructors}" class="list-group-item list-group-item-action">Instructors</a>
        <a href="#" class="list-group-item list-group-item-action">Courses</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
    </div>
    <script>
        function setActive() {
            linkObj = document.getElementById('admin_tables_sidebar_div').getElementsByTagName('a');
            for(i=0;i<linkObj.length;i++) {
                if(document.location.href.indexOf(linkObj[i].href)>=0) {
                    linkObj[i].classList.add("active");
                }
            }
        }

        window.onload = setActive;
    </script>
</div>


<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>