<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Student Dashboard</title>
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.6.3/css/all.css}" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

    <link rel="stylesheet" th:href="@{/css/bootstrap4-pleasant.min.css}" />


    <link  th:href="@{/css/main.css}" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">

    <style>

    </style>
</head>
<body id="student_dashboard" onload="loadCourseRegistrationPage()">
<div th:insert="fragments/top_navbar :: top-navbar"></div>

<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-3">Register For Courses!</h1>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger
                    container.</p>
                <div>
                    <div class="card">
                        <div class="card-header">
                            Quote
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="form-group">
                                    <label>Department</label>
                                    <select class="custom-select" id="deptName_select">
                                        <option value="">Choose Department...</option>
                                        <div th:each="dept: ${departments}">
                                            <option th:value="${dept.dept_name}" th:text="${dept.dept_name}"></option>
                                        </div>

                                    </select>
                                </div>



                                <!--<div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                                </div>


                                <input class="form-control" type="text" value="Text input" id="example-text-input">-->


                                <div class="form-group">
                                    <label>Course Section Number</label>
                                    <input type="text" class="form-control" id="courseSection_input" placeholder="Section Number... (Optional)">
                                </div>
                                <button type="submit" class="btn btn-primary" onclick="searchCourses()">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                You successfully read this important alert message.
                <a href="#!" class="alert-link">It contains a link and heading.</a>
            </div>-->
            <!--<div th:if="${conflict}" th:text="${conflict}" class="alert" />-->
            <div th:if="${conflict}" class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="alert-heading">Sorry!</h4>
                Your current schedule has a time conflict with this course.
                <a href="#!" class="alert-link">View your current schedule</a>
            </div>

            <div class="row">
                <div class="col-12">

                    <table class="table" id="courseList">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Department-Course</th>
                            <th scope="col">Title</th>
                            <th scope="col">Instructor</th>
                            <th scope="col">Time</th>
                            <th scope="col">Weekdays</th>
                            <th scope="col">Seats Filled</th>
                            <th scope="col">Max Seats</th>
                            <th scope="col">Semester</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="regcourse: ${offered_courses}" class="courseTableRow table-primary">
                            <!--<td th:text="${course.id}">Id</td>-->
                            <td th:text="${regcourse.course.department.getSection_abbr() + '-' + regcourse.course.getSection()}"></td>
                            <td th:text="${regcourse.course.getName()}">Course</td>
                            <td th:text="${regcourse.instructor.getFullName()}"></td>
                            <td th:text="${regcourse.start_time + ' - ' + regcourse.end_time}"></td>

                            <td th:text="${regcourse.weekdays()}"></td>
                            <td th:text="${regcourse.seats_filled}" class="seats"></td>
                            <td th:text="${regcourse.max_seats}" class="max"></td>
                            <td th:text="${regcourse.semester.getSemester() + ' ' + regcourse.semester.getYear()}"></td>
                            <td>
                                <a th:href="@{'/students/dashboard/course_registration/process/' + ${regcourse.id}}" id="course_id"  class="btn btn-sm btn-primary my-1 my-sm-0 registration_action">
                                    <span class="fas fa-edit mr-1"></span>
                                    Register</a>
                            </td>
                            <td th:text="${regcourse.getCourse().getDepartment().dept_name}" class="deptNameSearch" style="display: none"></td>
                            <td th:text="${regcourse.getCourse().section}" class="courseSectionSearch" style="display: none"></td>

                        </tr>



                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>
</div>




<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

    function loadCourseRegistrationPage() {
        checkSeats();
        searchCourses();
    }

    function switchIcon() {
        var elm1 = document.getElementById("collapseBtn");
        var elm2 = document.getElementById("collapseExample");
        if (!document.getElementById("collapseExample").classList.contains("show")) {
            elm1.classList.replace("fa-chevron-right", "fa-chevron-left");
        } else {
            elm1.classList.replace("fa-chevron-left", "fa-chevron-right");
        }
    }

    function checkSeats() {
        var sts = document.getElementsByClassName("seats");
        var max = document.getElementsByClassName("max");
        var actions = document.getElementsByClassName("registration_action");
        var len = actions.length;

        for (var i = 0; i < len; i++) {
            var num1 = parseInt(sts[i].textContent);
            var num2 = parseInt(max[i].textContent);

            if (num1 == num2) {
                actions[i].style.display = "none";

            }
        }
    }

    var ROWS = document.getElementsByClassName("courseTableRow");
    var DNAMES = document.getElementsByClassName("deptNameSearch");
    var CSNAMES = document.getElementsByClassName("courseSectionSearch");

    function searchCourses() {
        var deptName = document.getElementById("deptName_select");
        var courseSection = document.getElementById("courseSection_input");

        console.log("ROWS: " + ROWS.length + " DNAMES: " + DNAMES.length + " CNAMES: " + CSNAMES.length);

        for (var i = 0; i < ROWS.length; i++) {
            console.log("Dept: " + DNAMES[i].textContent + " course: " + CSNAMES[i].textContent);
            if (deptName.value == DNAMES[i].textContent) {
                if (courseSection.value == "") {
                    ROWS[i].style.display = "";
                } else if (courseSection.value == CSNAMES[i].textContent) {
                    ROWS[i].style.display = "";
                }
            }
            if (deptName.value != DNAMES[i].textContent) {
                ROWS[i].style.display = "none";
            }
            if (courseSection.value != "" && courseSection.value != CSNAMES[i].textContent) {
                ROWS[i].style.display = "none";
            }


        }
    }

</script>



</body>
</html>